

<span class="all">	
	<div><%= image_tag "leverage_assesments_logo_stolen.jpeg", id: 'logo' %></div>
	<ul>
		<ul>Please visit our <a href="https://www.linkedin.com/pub/leverage-assessments/105/295/433" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">LinkedIn Page</a></ul>
		<ul>Or check out our <a href="https://www.facebook.com/profile.php?id=100010135662118" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Facebook Account</a></ul>
	</ul>
	<h1>Our website is coming soon! Pardon our digital dust...</h1>
</div>
