

<span class="all">	
	<div><%= image_tag "leverage_assesments_logo_stolen.jpeg", id: 'logo' %></div>
	<ul>
		<ul>Please visit us on <a href="https://www.linkedin.com/pub/leverage-assessments/105/295/433" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
			<%= image_tag "linkedin_icon.png", id: 'social_media' %>
		</a></ul>
		<ul>Or check out our <a href="https://www.facebook.com/profile.php?id=100010135662118" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
			<%= image_tag "Facebook_logo.png", id: 'social_media' %>
		</a></ul>
		<ul>We are also on <a href="https://twitter.com/leverage_asses" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
			<%= image_tag "https://twitter.com/leverage_asses.jpg", id: 'social_media' %>
		</a></ul>
	</ul>
	<h1>Our website is coming soon! Pardon our digital dust...</h1>
</div>
